*{margin: 0;
padding: 0;}

:root{
    --cor-principal:#ffffff;
    --cor-secundaria:#c0c0c0;
    --cor-do-botao:#071A7C;
    --cor-de-fundo:#00030c;
}

body{
    background-color:var(--cor-de-fundo);
    color:var(--cor-principal);
}

.principal{
    background-image: url("img/LP_ASSINE_OG-b7c774fe542774e991c9609f0cf35979\ 1.png");
}
.conteiner{height:100vh;
    background-repeat: no-repeat;
    background-size: contain;
}